.wrapper {
  padding: 20px 0;
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.productEvaluationForm {
  display: flex;
  flex-direction: column;
}

.productEvaluationForm > * {
  margin-bottom: 20px;
}

.title {
  font-size: 1.6rem;
  margin-bottom: 20px;
  text-align: center;
}

.email {
  flex: 1;
  font-size: 1.2rem;
  margin-right: 20px;
  padding: 10px;
}

.message {
  font-family: Arial , Helvetica , sans-serif;
  font-size: 1.2rem;
  padding: 10px;
}

.button {
  align-self: center;
  background-color: rgba(44, 110, 94, 0.644);
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 1.2rem;
  min-width: 100px;
  padding: 10px;
}
