.categories {
  background-color: #95b19691;  
  padding: 10px;
  height: 100%;
}

.categoriesWrapper {
  display: flex;
  flex-direction: column;
}

.categoriesTitle {
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
}

.categoryItem {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
}

.categoryItem:last-child {
  margin-bottom: unset;
}

.categoryItem:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

