.product-details-main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.product-details {
  background-color: white;
  border-radius: 20px;
  display: flex;
  margin-top: 30px;
  padding: 80px;
  text-align: center;
  width: 900px;
}

.product-details-img {
  margin-right: 100px;
  width: 200px;
}

.details-container {
  margin-right: 50px;
  width: 500px;
}
