.product-details-container {
  display: flex;
  flex-direction: column;
}

.product-details-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-details {
  background-color: white;
  border-radius: 20px;
  display: flex;
  margin-top: 30px;
  padding: 80px;
  text-align: center;
  width: 800px;
}

.product-details-img {
  width: 200px;
  margin-right: 100px;
}
