.cart-product-card {
  align-items: center;
  border: 2px solid black;
  display: flex;
  flex-flow: column wrap;
}

.product-info {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.product-img {
  width: 120px;
}

.btn-remove {
  font-size: 25px;
}

.btn-less, .btn-more {
  font-size: 35px;
}

.amount {
  align-items: center;
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  margin: 0 20px;
  text-align: center;
  width: 40px;
}
