body {
  background: whitesmoke;
}

.form {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding: 10px;
  width: 50%;
}

.form input {
  width: 400px;
}

.mapCategories {
  border: 5px ridge grey;
  margin: auto;
  position: relative;
  width: 50%;
}

