.container-list-categories {
  align-items: flex-start;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 10px;
  width: fit-content;
}

.label-list-categories {
  align-self: auto;
}
