.lista-produtos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.produto-card {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
  width: 250px;
}

.produto-card img {
  margin: 10px 0;
  width: 100px;
}
