.categorie-button:not( :hover ) {
  transition: transform 0.5s;
}

.categorie-button:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.categories-list {
  display: flex;
  flex-direction: column;
}

@media only screen and ( max-width : 600px ) {

  .categories-list {
    display: none;
  }
}
