.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
  width: 80%;
}

.categories-container span {
  background-color: rgb(160, 112, 8);
  border-radius: 30px;
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
}

.categorie {
  color:white;
  text-decoration: none;
  text-transform: uppercase;
}
