.header-body {
    background-color: rgb(247, 127, 0);
    color: rgb(241, 241, 252);
    display: flex;
}

.header-body img {
    display: flex;  
    padding: 15px;
    width: 5%;
}

.header-link {
    display: flex;
    margin-top: 30px;    
}

.header-p {
    display: flex;      
    padding: 15px;
}

.header-input {
    display: flex;    
    padding: 15px;
}

.query-input-wrapper { 
  display: flex;  
  padding: 15px;  
}

.query-input-wrapper input {
  border-radius: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 5px 8px;
  width: 40vw;
}

.query-input-wrapper button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.query-input-wrapper button:hover {
  cursor: pointer;
}

.query-input-wrapper button i {
  font-size: 20px;
}
