.product-evaluation-container{
    display: flex;
    width: 70%;
    border: 1px solid black;
    flex-direction: column;
    margin: 10px auto;
    border-radius: 30px;
}
.product-evaluation-container h3 {
    font-size: 25px;
    text-align: center;
}
.rating {
    margin: 5px auto;
}
.evaluation-form {
    margin: 10px auto;
}

.evaluation-form input {
    display: flex;
    min-width: 300px;
    margin: 5px 0;
}