.product {
  border: 2px solid grey;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 10px 2vw;
  width: 300px;
}

.product img {
  border-radius: 15px;
  width: 100%;
}

.product-price {
  color: rgba(0, 0, 0, 0.7);
  font-size: 2em;
  margin: 0.2em 0;
}

.product-title {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1em;
  margin: auto 0 1em;
  padding: 0 8px;
}

.free-shipping {
  color: orange;
  font-size: 1.2em;
}
