.stars button {
  background-color: transparent;
  border: 0;
  color: lightgray;
  cursor: pointer;
  font-size: 3em;
}

.stars button:focus {
  outline: 0;
}

.stars button:hover {
  color: rgb(236, 236, 99);
}
