.cards-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}

.item-card {
  border: 2px solid #232f3e;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 150px;
}

.card-image {
  width: 100%;
}

.card-title {
  flex-grow: 1;
  font-size: 13px;
  padding: 5px;
  text-align: center;
}

.card-price {
  background-color: #232f3e;
  border: 0;
  color: white;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

