body {
  background-color: #ebebeb;
  border: 0;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  color: #272727;
}

button:focus {
  outline: none;
}

input {
  background-color: white;
  border: 1px solid rgba(149, 149, 149, 0.692);
  color: #4b4b4b;
}

input:hover {
  border: 1px solid #959595;
}

input:focus {
  border: 1px solid rgba(149, 149, 149, 0.883);
  outline: none;
}

.loading {
  -webkit-box-pack: center;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: center;
  font-size: 1.5em;
  font-weight: 600;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.not-found {
  -webkit-box-pack: center;
  color: #da2525;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: center;
  font-size: 1.2em;
  font-weight: 600;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.header-main {
      align-content: center;
  background-color: #fff159;
  border-bottom: 1px solid rgba(0, 0, 0, 0.164);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  height: 38px;
  padding-bottom: 6px;
  padding-top: 6px;
}

.header-main .header-wrap {
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.header-main .header-wrap .header-left {
          align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-align: center;
      -ms-flex-pack: start;
  height: 100%;
          justify-content: flex-start;
  width: auto;
}

.header-main .header-wrap .header-left .shopping-logo {
  height: 80px;
  margin-left: 4px;
  margin-right: 4px;
  position: relative;
  width: auto;
}

.header-main .header-wrap .header-left .header-button-back {
  background-color: #fff159;
  border: 0;
  font-size: 1.2em;
  margin-left: 4px;
  margin-right: 4px;
}

.header-main .header-wrap .header-left .header-button-back:hover {
  cursor: pointer;
}

.header-main .header-wrap .header-left .header-button-back .button-back-image {
  height: 30px;
  width: 30px;
}

.header-main .header-wrap .cart-button {
          align-items: center;
  background-color: #fff159;
  border: 0;
  -webkit-box-align: center;
  -webkit-box-pack: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-align: center;
      -ms-flex-pack: end;
  height: 100%;
          justify-content: flex-end;
  padding-left: 12px;
  padding-right: 4px;
  width: auto;
}

.header-main .header-wrap .cart-button:hover {
  cursor: pointer;
}

.header-main .header-wrap .cart-button .cart-image {
  display: block;
  height: 26px;
  width: 26px;
}

.header-main .header-wrap .cart-button .cart-count {
  color: rgba(0, 0, 0, 0.808);
  display: block;
  font-size: 0.9em;
  font-weight: 600;
  margin-left: 4px;
  margin-right: 4px;
  position: relative;
  top: -10px;
}

.content {
  background-color: #ebebeb;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  width: 90%;
}

.product-search {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  padding: 6px;
  width: 100%;
}

.product-search .home-message {
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
}

.product-search .query-box {
          align-items: baseline;
  -webkit-box-align: baseline;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-align: baseline;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.product-search .query-box .product-search-input {
  background-color: #ffffff;
  border-radius: 18px;
  color: #535353;
  font-size: 0.9em;
  height: 24px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 24px;
  padding-top: 2px;
  text-align: center;
  width: 40%;
}

.product-search .query-box .product-search-input:focus {
  color: #383838;
}

.product-search .query-box .product-search-input:hover {
  color: #202020;
}

.product-search .query-box .product-search-button {
  background-color: #ffffff;
  border: 0;
  border-left: 1px solid #a0a0a0;
  color: #353535;
  cursor: pointer;
  font-size: 0.9em;
  height: 22px;
  left: -56px;
  position: relative;
  width: 4%;
}

.product-search .query-box .product-search-button:focus {
  color: #383838;
}

.product-search .query-box .product-search-button .find {
  opacity: 0.8;
}

.product-search .query-box .product-search-button .find:hover {
  opacity: 1;
}

.product-search .categories-list {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: center;
  font-size: 0.9vw;
  font-weight: 300;
          justify-content: center;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  max-height: 60px;
  min-height: 20px;
  min-height: 50px;
  padding: 2px;
  width: 80%;
}

.product-search .categories-list ul {
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
          justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 2px;
}

.product-search .categories-list ul li {
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 4px;
  margin-right: 4px;
  padding: 0;
}

.product-search .categories-list ul li .nav-link {
  background-color: #ebebeb;
  border: 0;
  color: #4b4b4b;
  font-size: 0.8vw;
  font-weight: 300;
  text-decoration: none;
}

.product-search .categories-list ul li .nav-link:hover {
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  font-size: 0.9vw;
  font-weight: 600;
}

.product-list {
          align-items: stretch;
  -webkit-box-align: stretch;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-align: stretch;
      -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
          justify-content: center;
  margin: 4px;
  width: 100%;
}

.product-card-wraper {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.137);
  border: 1px solid rgba(0, 0, 0, 0.445);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.212);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.212);
  height: 291px;
  margin: 10px;
}

.product-card-wraper:hover {
  border: 1px solid rgba(0, 0, 0, 0.637);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.product-card-wraper:not:hover {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.product-card-wraper .product-card {
  background-color: #ffffff;
  border: 0;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 260px;
  width: 220px;
}

.product-card-wraper .product-card .product-card-image {
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  height: 60%;
  width: 100%;
}

.product-card-wraper .product-card .product-card-image img {
  max-height: 100%;
  width: 100%;
}

.product-card-wraper .product-card .product-card-info {
          align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-align: center;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: center;
  font-size: 1em;
  height: 30%;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  width: 94%;
}

.product-card-wraper .product-card .product-card-info .product-card-info-price {
  color: #272727;
  font-size: 1.3em;
  margin-left: 6px;
}

.product-card-wraper .product-card .product-card-info .product-card-info-price .price-part-1 {
  color: black;
  font-size: 1.4vw;
  font-weight: 300;
}

.product-card-wraper .product-card .product-card-info .product-card-info-price .price-part-2 {
  color: #272727;
  font-size: 2vw;
  margin-left: 2px;
}

.product-card-wraper .product-card .product-card-info .product-card-info-price .price-part-3 {
  color: #4b4b4b;
  font-size: 1vw;
  font-weight: 300;
  margin-left: 2px;
  position: relative;
  top: -9px;
}

.product-card-wraper .product-card .product-card-info .product-card-info-title {
  color: #979fa7;
  font-size: 0.9vw;
  margin-top: 2px;
  -webkit-text-size-adjust: auto;
     -moz-text-size-adjust: auto;
      -ms-text-size-adjust: auto;
          text-size-adjust: auto;
}

.product-card-wraper .product-buy {
  border-top: 1px solid rgba(0, 0, 0, 0.472);
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: center;
  height: 30px;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.product-card-wraper .product-buy .product-buy-button {
      align-self: center;
  background-color: #ffea00e1;
  border: 0;
  color: #272727;
  -ms-flex-item-align: center;
  font-weight: 600;
      -ms-grid-row-align: center;
  height: 100%;
  width: 100%;
}

.product-card-wraper .product-buy .product-buy-button:hover {
  background-color: #ffea00;
  color: #0e0e0e;
  cursor: pointer;
  font-weight: 600;
  text-shadow: 2px black;
}

.product-detail {
          align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-align: center;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 80%;
}

.product-detail h1 {
  font-size: 1.4em;
  font-weight: 400;
  margin: 2px;
  margin-top: 10px;
  padding: 2px;
}

.product-detail h2 {
  color: #141414f1;
  font-size: 1.2em;
  font-weight: 300;
  margin: 2px;
  margin-bottom: 6px;
  padding: 2px;
}

.product-detail img {
  border: 1px solid #9b9b9b;
  margin: 4px;
  margin-bottom: 10px;
  width: 30%;
}

.product-detail .product-detail-name {
  font-size: 1.2em;
  margin-top: 10px;
  padding: 8px;
}

.product-detail .product-detail-price {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 14px;
  padding: 8px;
}

.product-detail .product-detail-price span {
  font-size: 1.2em;
  margin: 1px;
}

.product-detail .product-detail-price .product-simbol {
  color: #000000fa;
  font-size: 1.1em;
  margin-right: 2px;
}

.product-detail .product-add-cart {
  border-radius: 10px;
  height: 34px;
  width: 300px;
}

.product-add-cart {
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: center;
  height: 30px;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.product-add-cart .product-buy-button {
      align-self: center;
  background-color: #ffee31;
  border: 1px solid rgba(149, 149, 149, 0.692);
  color: #272727;
  -ms-flex-item-align: center;
  font-weight: 600;
      -ms-grid-row-align: center;
  height: 100%;
  width: 100%;
}

.product-add-cart .product-buy-button:hover {
  background-color: #ffea00;
  border: 1px solid rgba(58, 58, 58, 0.692);
  color: #1a1a1a;
}

.product-add-cart .product-buy-button:focus {
  outline: none;
}

.shopping-cart {
          align-items: center;
  -webkit-box-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 100%;
}

.shopping-cart .shopping-cart-list {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  width: 80%;
}

.shopping-cart .shopping-cart-list .shopping-cart-list-item {
  background-color: #ebebeb;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: center;
  font-size: 0.8em;
          justify-content: center;
  padding: 2px;
}

.shopping-cart .shopping-cart-list .shopping-cart-list-item .item-id {
          align-items: center;
  -webkit-box-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-align: center;
  font-weight: 600;
  padding: 5px;
  width: 12%;
}

.shopping-cart .shopping-cart-list .shopping-cart-list-item .item-title {
          align-items: center;
  -webkit-box-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-align: center;
  padding: 5px;
  width: 40%;
}

.shopping-cart .shopping-cart-list .shopping-cart-list-item .item-price {
          align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-align: center;
      -ms-flex-pack: end;
  font-weight: 400;
          justify-content: flex-end;
  margin-right: 6px;
  padding: 5px;
  width: 6%;
}

.shopping-cart .shopping-cart-list .shopping-cart-list-item .item-count {
          align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: end;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-align: center;
      -ms-flex-pack: end;
  font-size: 1.1em;
  font-weight: 600;
          justify-content: flex-end;
  margin-right: 6px;
  padding: 5px;
  width: 2%;
}

.shopping-cart .shopping-cart-list .shopping-cart-list-item .item-control {
          align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-align: center;
      -ms-flex-pack: start;
  font-weight: 600;
          justify-content: flex-start;
  margin-right: 6px;
  padding: 5px;
  width: 4%;
}

.shopping-cart .shopping-cart-list .shopping-cart-list-item .item-control button {
          align-items: center;
      align-self: center;
  background-color: #ebebeb;
  border: 0;
  border-radius: 6px;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-align: center;
  -ms-flex-item-align: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 2px;
  margin-right: 4px;
  padding: 4px;
}

.shopping-cart .shopping-cart-list .shopping-cart-list-item .item-total {
          align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-align: center;
      -ms-flex-pack: end;
  font-weight: 500;
          justify-content: flex-end;
  margin-right: 6px;
  padding: 5px;
  width: 5%;
}

.cart-message {
      align-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
}

.cart-message .cart-empty-message {
  margin-bottom: 20px;
  margin-top: 10px;
}

.cart-clear-button {
      align-self: center;
  background-color: #ffffff26;
  border: 1px solid rgba(149, 149, 149, 0.876);
  border-radius: 6px;
  color: #272727;
  -ms-flex-item-align: center;
  font-weight: 600;
      -ms-grid-row-align: center;
  margin-top: 20px;
  padding: 4px;
  width: 15%;
}

.cart-clear-button:hover {
  background-color: white;
  border: 1px solid rgba(58, 58, 58, 0.692);
  color: #1a1a1a;
}

.cart-clear-button:focus {
  outline: none;
}

.hidden {
  display: none;
}

.cart-slide {
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.438);
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
  float: right;
  height: auto;
  min-height: 100px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: auto;
  z-index: 5;
}

.cart-slide .cart-slide-menu {
          align-items: center;
      align-self: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.39);
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-align: center;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
  height: auto;
  padding: 2px;
  width: 599px;
}

.cart-slide .cart-slide-menu .menu-close-button {
      align-self: flex-end;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  cursor: pointer;
  -ms-flex-item-align: end;
  height: auto;
  width: auto;
}

.cart-slide .cart-slide-menu .menu-close-button .menu-close-icon {
  color: #272727;
  font-size: 1.5em;
  padding: 2px;
}

.cart-slide .slide-shopping-cart {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-slide .slide-shopping-cart .slide-shopping-cart-list {
  border: 2px solid rgba(255, 255, 255, 0.842);
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-slide .slide-shopping-cart .slide-shopping-cart-list .shopping-cart-list-item {
          align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-align: center;
      -ms-flex-pack: center;
  font-size: 0.7em;
          justify-content: center;
  padding: 2px;
}

.cart-slide .slide-shopping-cart .slide-shopping-cart-list .shopping-cart-list-item .cart-slide-box {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2px;
  width: 54%;
}

.cart-slide .slide-shopping-cart .slide-shopping-cart-list .shopping-cart-list-item .cart-slide-box .item-id {
  font-weight: 600;
  margin-left: 4px;
  margin-top: 1px;
}

.cart-slide .slide-shopping-cart .slide-shopping-cart-list .shopping-cart-list-item .cart-slide-box .item-title {
  font-size: 0.9em;
  margin-left: 6px;
}

.cart-slide .slide-shopping-cart .slide-shopping-cart-list .shopping-cart-list-item .item-price {
  -webkit-box-pack: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: end;
  font-size: 1em;
  font-weight: 500;
          justify-content: flex-end;
  margin-right: 4px;
  width: 11%;
}

.cart-slide .slide-shopping-cart .slide-shopping-cart-list .shopping-cart-list-item .item-count {
  -webkit-box-pack: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: end;
  font-size: 1.2em;
          justify-content: flex-end;
  margin-right: 4px;
  width: 5%;
}

.cart-slide .slide-shopping-cart .slide-shopping-cart-list .shopping-cart-list-item .item-control {
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: center;
  font-size: 1.2em;
          justify-content: center;
  margin-right: 4px;
  padding: 1px;
  width: 8%;
}

.cart-slide .slide-shopping-cart .slide-shopping-cart-list .shopping-cart-list-item .item-control button {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  cursor: pointer;
  height: auto;
  width: auto;
}

.cart-slide .slide-shopping-cart .slide-shopping-cart-list .shopping-cart-list-item .item-control button i {
  font-size: 1em;
}

.cart-slide .slide-shopping-cart .slide-shopping-cart-list .shopping-cart-list-item .item-total {
  -webkit-box-pack: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-pack: end;
  font-size: 1.2em;
          justify-content: flex-end;
  margin-top: 4px;
  width: 15%;
}

.cart-slide .slide-shopping-cart .slide-shopping-cart-list .cart-clear-button {
  height: 30px;
  margin-bottom: 10px;
  width: 200px;
}