.btn {
  border-radius: 5px;
  display: inline-flex;
  margin-left: 5px;
}

.container {
  display: flex;
}

.categorylist {
  border: 1px solid black;
  display: flex;
  flex-flow: column;
  list-style-type: none;
}

.CardListContainer {
  display: flex;
  flex-flow: row wrap;
}

.DetailContainer {
  align-content: space-between;
  background-color: burlywood;
  display: flex;
  flex-flow: row wrap;
  height: 500px;
  width: auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.searchbar {
  border-radius: 5px;
  display: inline-flex;
  width: 400px;
}

.section-card {
  align-content: flex-start;
  align-items: center;
  background-color: rgb(103, 94, 163);
  border: 1px solid darkorchid;
  border-radius: 20px;
  display: flex;
  flex-flow: column wrap;
  height: 250px;
  width: 250px;
}

.shop-cart-img {
  height: 50px;
  width: 50px;
}
