$primary-bg-color: #fff159;
$secundary-bg-color: #ebebeb;

//
$card-bg-color: #ffffff;

$card-primary-color: #272727;
$card-primary-alt-color: #4b4b4b;
$card-secundary-color: #979fa7;

$nav-text-color: #252525;

//
$card-green-color: #39b54a;

// ------------------------------------------------------------

body {
  border: 0;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $secundary-bg-color;
}

// ------------------------------------------------------------

button {
  color: $card-primary-color;

  &:focus {
    outline: none;
  }
}

input {
  border: 1px solid rgba(149, 149, 149, 0.692);
  color: $card-primary-alt-color;
  background-color: white;

  &:hover {
    border: 1px solid rgb(149, 149, 149);
  }

  &:focus {
    outline: none;
    border: 1px solid rgba(149, 149, 149, 0.883);
  }
}

textarea {
  border: 1px solid rgba(149, 149, 149, 0.692);
  color: $card-primary-alt-color;
  background-color: white;

  &:hover {
    border: 1px solid rgb(149, 149, 149);
  }

  &:focus {
    outline: none;
    border: 1px solid rgba(149, 149, 149, 0.883);
  }
}


.loading {
  font-size: 1.5em;
  color: black;
  font-weight: 600;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.not-found {
  font-size: 1.2em;
  color: rgb(218, 37, 37);
  color: black;
  font-weight: 600;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

// ------------------------------------------------------------

.header-main {
  align-content: center;
  // border: 1px solid black;
  display: flex;
  height: 38px;
  background-color: $primary-bg-color;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.164);

  .header-wrap {
    // border: 1px solid green;
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;

    .header-left {
      width: auto;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      // border: 1px solid blue;

      .shopping-logo {
        width: auto;
        height: 80px;
        position: relative;
        margin-left: 4px;
        margin-right: 4px;
      }

      .header-button-back {
        background-color: $primary-bg-color;
        border: 0;
        font-size: 1.2em;
        margin-left: 4px;
        margin-right: 4px;

        &:hover {
          cursor: pointer;
        }

        .button-back-image {
          width: 30px;
          height: 30px;
        }
      }
    }

    .cart-button {
      width: auto;
      height: 100%;
      display: flex;
      border: 0;
      justify-content: flex-end;
      align-items: center;
      background-color: rgba(255, 255, 255, 0);
      // border: 1px solid red;

      &:hover {
        cursor: pointer;
      }

      //  border: 1px solid blue;
      padding-left: 12px;
      padding-right: 4px;

      .cart-image {
        width: 26px;
        height: 26px;
        display: block;
      }

      .cart-count {
        display: block;
        position: relative;
        top: -10px;
        margin-left: 4px;
        margin-right: 4px;
        color: rgba(0, 0, 0, 0.808);
        font-size: 0.9em;
        font-weight: 600;
      }
    }
  }
}

.anim-move {
  animation: spin 0.3s linear infinite;

  @keyframes spin {
    0% {
      transform: scale(1, 1);
    }

    50% {
      transform: scale(1.05, 1.05);
    }

    100% {
      transform: scale(1, 1);
    }
  }   
}

// ------------------------------------------------------------

// ------------------------------------------------------------

.content {
  background-color: $secundary-bg-color;
  margin-top: 2px;
  // border: 1px solid red;
  display: flex;
  width: 90%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.product-search {
  // border: 1px solid red;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 6px;
  margin-top: 2px;
  margin-bottom: 2px;
  flex-direction: column;
  justify-content: center;

  .home-message {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
  }

  .query-box {
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: center;

    .product-search-input {
      color: rgb(83, 83, 83);
      font-size: 0.9em;
      height: 24px;
      width: 40%;
      text-align: center;
      padding-left: 10px;
      padding-right: 24px;
      padding-top: 2px;
      padding-bottom: 2px;
      border-radius: 18px;
      background-color: #ffffff;

      &:focus {
        color: rgb(56, 56, 56);
      }

      &:hover {
        color: rgb(32, 32, 32);
      }
    }

    .product-search-button {
      color: rgb(53, 53, 53);
      border: 0;
      border-left: 1px solid rgb(160, 160, 160);
      font-size: 0.9em;
      height: 20px;
      width: 4%;
      position: relative;
      left: -56px;
      background-color: #ffffff;
      cursor: pointer;

      &:focus {
        color: rgb(56, 56, 56);
      }

      .find {
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .categories-list {
    // border: 1px solid red;
    min-height: 20px;
    max-height: 60px;
    width: 80%;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    font-weight: 300;
    color: $nav-text-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.9vw;
    margin-top: 14px;
    margin-bottom: 2px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 2px;

      li {
        display: flex;
        justify-content: center;
        padding: 0;
        margin-left: 4px;
        margin-right: 4px;

        .nav-link {
          text-decoration: none;
          background-color: $secundary-bg-color;
          border: 0;
          font-size: 0.8vw;
          color: $card-primary-alt-color;
          font-weight: 300;

          &:hover {
            color: rgba(0, 0, 0, 0.87);
            cursor: pointer;
            font-weight: 600;
            font-size: 0.9vw;
          }
        }
      }
    }
  }
}

.product-list {
  // border: 1px solid green;
  margin: 4px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
}

.product-card-wraper {
  //border: 1px solid green;
  border: 1px solid rgba(0, 0, 0, 0.137);
  margin: 10px;
  background-color: $card-bg-color;
  height: 291px;
  border: 1px solid rgba(0, 0, 0, 0.445);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.212);

  &:hover {
    transform: scale(1.01);
    transition: transform 1s;
    border: 1px solid rgba(0, 0, 0, 0.637);
  }

  &:not:hover {
    transition: transform 1s;
  }

  .product-card {
    // border: 1px solid black;
    border: 0;
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 220px;
    background-color: $card-bg-color;

    .product-card-image {
      width: 100%;
      height: 60%;
      display: flex;
      align-content: center;
      // border: 1px solid red;

      .free-shipping {
        width: 100px;
        height: 100px;
        top: -1px;
        left: -6px;
        z-index: 1;
        position: relative;
      }
    }

    .product-card-info {
      height: 40%;
      width: 94%;
      display: flex;
      flex-direction: column;
      font-size: 1em;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      justify-content: center;

      .product-card-info-price {
        color: $card-primary-color;
        font-size: 1.3em;
        margin-left: 6px;

        .price-part-1 {
          color: black;
          font-size: 1.4vw;
          // font-size: 1.1em;
          font-weight: 300;
        }

        .price-part-2 {
          color: $card-primary-color;
          margin-left: 2px;
          // font-size: 1.1em;
          font-size: 2vw;
        }

        .price-part-3 {
          color: $card-primary-alt-color;
          margin-left: 2px;
          position: relative;
          top: -9px;
          // font-size: 0.8em;
          font-size: 1vw;
          font-weight: 300;
        }
      }

      .product-card-info-title {
        color: $card-secundary-color;
        font-size: 0.9vw;
        text-size-adjust: auto;
        margin-top: 2px;
      }
    }
  }

  .product-buy {
    border-top: 1px solid rgba(0, 0, 0, 0.472);
    height: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;

    .product-buy-button {
      border: 0;
      align-self: center;
      width: 100%;
      height: 100%;
      color: $card-primary-color;
      font-weight: 600;
      background-color: #ffea00e1;

      &:hover {
        background-color: #ffea00;
        color: rgb(14, 14, 14);
        font-weight: 600;
        text-shadow: 2px black;
        cursor: pointer;
      }
    }
  }
}

// .product-detail {
//   display: flex;
//   flex-direction: column;
//   width: 80%;
//   margin-left: auto;
//   margin-right: auto;
//   justify-content: center;
//   align-items: center;
//   padding: 10px;

//   .detail-image {
//     width: 200px;
//     height: 200px;
//     display: flex;
//     align-content: center;
//     border: 1px solid rgb(122, 122, 122);
//     padding: 0;
//     background-color: rgba(255, 255, 255, 0);

//     .free-shipping {
//       width: 100px;
//       height: 100px;
//       top: -4px;
//       left: -4px;
//       z-index: 1;
//       border: 0;
//       position: relative;
//       background-color: rgba(255, 255, 255, 0);
//     }
//   }

//   h1 {
//     margin: 2px;
//     padding: 2px;
//     font-size: 1.4em;
//     font-weight: 400;
//     margin-top: 10px;
//   }

//   h2 {
//     margin: 2px;
//     padding: 2px;
//     font-size: 1.2em;
//     font-weight: 300;
//     color: #141414f1;
//     margin-bottom: 6px;
//   }

//   img {
//     margin: 4px;
//     width: 30%;
//     border: 1px solid rgb(155, 155, 155);
//     margin-bottom: 10px;
//   }

//   .product-detail-name {
//     padding: 8px;
//     margin-top: 10px;
//     font-size: 1.2em;
//   }

//   .product-detail-price {
//     padding: 8px;
//     font-size: 1.2em;
//     font-weight: 600;
//     margin-bottom: 14px;

//     span {
//       margin: 1px;
//       font-size: 1.2em;
//     }

//     .product-simbol {
//       font-size: 1.1em;
//       color: #000000fa;
//       margin-right: 2px;
//     }
//   }
//   .product-attr {
//     min-width: 600px;
//     min-height: 400px;
//     border: 1px solid red;
//     display: flex;
//   }

//   .product-add-cart {
//     width: 300px;
//     border-radius: 10px;
//     height: 34px;
//   }
// }

.product-add-cart {
  height: 30px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;

  .product-buy-button {
    align-self: center;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(149, 149, 149, 0.692);
    color: $card-primary-color;
    font-weight: 600;
    background-color: #ffee31;

    &:hover {
      background-color: #ffea00;
      color: rgb(26, 26, 26);
      border: 1px solid rgba(58, 58, 58, 0.692);
    }

    &:focus {
      outline: none;
    }
  }
}

.shopping-cart {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 10px;
  // border: 1px solid green;

  .shopping-cart-list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: 1px solid green;

    // border: 1px solid green;
    padding: 6px;

    .shopping-cart-list-item {
      background-color: $secundary-bg-color;
      font-size: 0.8em;
      padding: 2px;
      // border: 1px solid blue;
      display: flex;
      justify-content: center;

      .item-id {
        display: flex;
        align-items: center;
        font-weight: 600;
        width: 12%;
        padding: 5px;
      }

      .item-title {
        display: flex;
        align-items: center;
        width: 40%;
        padding: 5px;
      }

      .item-price {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: 400;
        width: 6%;
        padding: 5px;
        // border: 1px solid green;
        margin-right: 6px;
      }

      .item-count {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: black;
        width: 2%;
        font-size: 1.1em;
        font-weight: 600;
        padding: 5px;
        margin-right: 6px;
      }

      .item-control {
        // border: 1px solid blueviolet;
        width: 4%;
        font-weight: 600;
        padding: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 6px;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 0;
          border-radius: 6px;
          padding: 4px;
          align-self: center;
          cursor: pointer;
          margin-right: 2px;
          background-color: $secundary-bg-color;
          margin-right: 4px;
        }
      }

      .item-total {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: 500;
        width: 5%;
        padding: 5px;
        // border: 1px solid green;
        margin-right: 6px;
      }
    
    }
  }
}

.cart-message {
  align-self: center;

  .cart-empty-message {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.box-button-cart {
  display: flex;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  // border: 1px solid red;
  justify-content: center;
  button {
    margin: 4px;
  }
}

.cart-clear-button {
  padding: 4px;
  width: 180px;
  border: 1px solid rgba(149, 149, 149, 0.876);
  border-radius: 6px;
  color: $card-primary-color;
  font-weight: 600;
  background-color: #ffffff26;
  height: 28px;

  &:hover {
    background-color: white;

    color: rgb(26, 26, 26);
    border: 1px solid rgba(58, 58, 58, 0.692);
  }

  &:focus {
    outline: none;
  }
}

.cart-checkout-button {
  padding: 4px;
  width: 180px;
  border: 1px solid rgba(149, 149, 149, 0.876);
  border-radius: 6px;
  color: $card-primary-color;
  font-weight: 600;
  background-color: #ffffff26;
  height: 26px;

  &:hover {
    background-color: white;

    color: rgb(26, 26, 26);
    border: 1px solid rgba(58, 58, 58, 0.692);
  }

  &:focus {
    outline: none;
  }
}

.hidden {
  display: none;
}

.cart-slide {
  border: 1px solid rgba(0, 0, 0, 0.438);
  background-color: rgb(250, 250, 250);
  z-index: 5;
  top: 5px;
  right: 5px;
  width: auto;
  height: auto;
  min-height: 100px;
  display: flex;
  position: absolute;
  float: right;
  flex-direction: column;

  .cart-slide-menu {
    // border: 1px solid violet;
    border-bottom: 1px solid rgba(0, 0, 0, 0.39);
    height: auto;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    width: 599px;

    .menu-close-button {
      align-self: flex-end;
      background-color: rgba(255, 255, 255, 0);
      // border: 1px solid red;
      border: 0;
      width: auto;
      height: auto;
      cursor: pointer;

      .menu-close-icon {
        font-size: 1.5em;
        padding: 2px;
        color: $card-primary-color;
      }
    }
  }

  .slide-shopping-cart {
    // border:1px solid red;
    display: flex;
    flex-direction: column;

    .slide-shopping-cart-list {
      border: 2px solid rgba(255, 255, 255, 0.842);

      display: flex;
      flex-direction: column;

      .shopping-cart-list-item {
        display: flex;
        font-size: 0.7em;
        padding: 2px;
        align-items: center;
        justify-content: center;

        .cart-slide-box {
          display: flex;
          flex-direction: column;
          width: 54%;
          //  border: 1px solid red;
          padding: 2px;

          .item-id {
            font-weight: 600;
            margin-top: 1px;
            margin-left: 4px;
          }

          .item-title {
            font-size: 0.9em;
            margin-left: 6px;
          }
        }

        .item-price {
          width: 11%;
          font-size: 1em;
          font-weight: 500;
          display: flex;
          justify-content: flex-end;
          //  border: 1px solid red;
          margin-right: 4px;
        }

        .item-count {
          width: 5%;
          display: flex;
          font-size: 1.2em;
          justify-content: flex-end;
          //  border: 1px solid red;
          margin-right: 4px;
        }

        .item-control {
          width: 8%;
          display: flex;
          font-size: 1.2em;
          justify-content: center;
          // border: 1px solid red;
          margin-right: 4px;
          padding: 1px;

          button {
            border: 0;
            background-color: rgba(255, 255, 255, 0);
            height: auto;
            width: auto;
            cursor: pointer;

            i {
              font-size: 1em;
            }
          }
        }

        .item-total {
          width: 15%;
          display: flex;
          font-size: 1.2em;
          justify-content: flex-end;
          // border: 1px solid red;
          margin-top: 4px;
        }
      }


    }
  }
}

.checkout {
  width: 100%;
  min-height: 400px;
  border: 1px solid red;
}

.product-detail {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .product-info {
    width: 100%;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    border: 1px solid rgb(95, 95, 95);
    padding: 4px;
    margin-top: 8px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    padding-bottom: 10px;

    .product-info-left {
      // border: 1px solid green;
      max-width: 60%;
      align-self: flex-start;
      margin: 2px;
      display: flex;

      .box-left {
        padding: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 5px;
        align-self: flex-start;

        .detail-image {
          width: 200px;
          height: 200px;
          display: flex;
          align-content: center;
          border: 1px solid rgb(122, 122, 122);
          padding: 0;
          margin: 2px;
          background-color: rgba(255, 255, 255, 0);

          .free-shipping {
            width: 100px;
            height: 100px;
            top: 0px;
            left: 0px;
            z-index: 1;
            border: 0;
            position: relative;
            background-color: rgba(255, 255, 255, 0);
          }
        }
      }

      .box-right {
        padding: 2px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 2px;
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 30px;
        max-width: 400px;

        .product-detail-id {
          align-self: flex-start;
          font-size: 0.9em;
          text-align: center;
          font-weight: 600;
          // border: 1px solid red;
          margin-top: 2px;
        }

        .product-detail-name {
          align-self: flex-start;
          // border: 1px solid red;
          font-size: 1em;
          font-weight: 300;
          margin-top: 4px;
          color: #3f3f3f;
        }

        .product-detail-price {
          // border: 1px solid red;
          align-self: flex-start;
          font-size: 1.1em;
          font-weight: 600;
          text-align: center;
          margin-top: 4px;
          color: #333333;
        }

      }
    }

    .product-info-right {
      // border: 1px solid green;
      max-width: 40%;
      margin: 5px;
      align-self: flex-start;
      margin-top: 10px;

      .product-attr-list {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-left: 10px;

        .product-attr-list-item {
          display: flex;
          //border: 1px solid blue;
          padding: 2px;
          color: #444444;

          .item-type {
            align-self: center;
            font-size: 0.9em;
            // border: 1px solid violet;
            padding: 1px;
          }

          .item-value {
            align-self: center;
            font-size: 0.9em;
            // border: 1px solid violet;
            margin-left: 5px;
            text-align: left;
          }

        }
      }
    }

  }
}

.box-add-cart {
  // border: 1px solid rgb(131, 131, 131);
  padding: 4px;
  display: flex;
  align-items: center; 
  padding-left: 10px;
  padding-right: 10px;
  

  .input-quantity {
    margin: 4px;
    align-self: center;
    padding-right: 10px;
  }
  .button-add-cart {
    margin: 4px;
    height: 40px;
    width: 200px;
    align-self: center;
    margin-left: 2px;
  }
}

.button-add-cart {
  width: 260px;
  height: 34px;
  background-color: white;
  border: 1px solid rgb(92, 92, 92);
  font-size: 0.9em;
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;
}

.input-quantity {
  width: auto;
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  padding: 4px;

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  input {
    width: 50px;
    font-size: 1.2em;
    text-align: center;
    font-weight: 600;
    color: black;
    background-color: white;
    border: 1px solid rgb(153, 153, 153);
    margin: 2px;
    margin-right: 10px;
  }

  button {
    border: 1px solid rgb(126, 126, 126);
    border-radius: 50%;
    margin: 2px;
    width: 38px;
    height: 38px;
    background-color: white;
    font-size: 0.9em;
    text-align: center;
    cursor: pointer;

    i {
      text-align: center;
    }
  }
}

.product-evaluation {
  border: 1px solid rgb(77, 77, 77);
  background-color: rgb(250, 250, 250);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-bottom: 10px;
  margin-top: 6px;
  font-size: 0.8em;
  border-radius: 10px;
  .product-evaluation-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    h4 {
      font-size: 1.2em;
      padding: 0;
      margin: 0;
      width: 50%;
      align-self: center;
    }
    .input-starts {
      width: 50%;
      height: auto;
      display: flex;
      // border: 1px solid blue;
      align-self: flex-start;
      margin: 0;
      padding: 0;
      justify-content: flex-end;

      .button-star {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        margin: 1px;
        padding: 2px;
        width: 28px;
        height: 28px;
        // border: 1px solid rgb(143, 143, 143);
        border-radius: 50%;

        i {
          font-size: 1.4em;
          // color: #ffe70d;
          //color: #d8d8d8;
          padding: 0;
          padding: 2px;
          text-shadow: 0 0 2px #1b1b1b;   
          -webkit-text-stroke: 1px rgb(92, 92, 92);   
        }
       
      }
    }
    
  }

  label {
    margin-top: 14px;
    display: flex;
    input {
     margin-left: 8px; 
     font-size: 1.2em;
     width: 100%;
     align-self: center;
    }
  }
  span {
    margin-top: 8px;
  }
  textarea {
    margin-top: 2px;
    font-size: 1em;
    resize: none;
    padding-top: 4px;
    padding-bottom: 4px;
    max-width: 100%;    
  }
  button {
    margin-top: 8px;
    width: 50%;
    height: 34px;
    align-self: center;
    background-color: white;
    border: 1px solid rgb(92, 92, 92);
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
  }
}

