@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@700&display=swap') ;

body {
  background-color: #ffd;
  font-family: Open Sans , sans-serif;
}

.special-text {
  color: #344;
  font-family: Quicksand , sans-serif;
  font-size: 25px;
  line-height: 1.75em;
}

.main-container {
  background-color: white;
  border: 1px solid #344;
  border-radius: 25px;
  font-size: 18px;
  padding: 10px 25px;
}

/*
--- SHOPPING CART
*/

.shopping-cart-icon {
  background-color: #c9de55;
  border-radius: 100px;
  transition: all 0.25s ease;
}

.shopping-cart-icon:hover {
  background-color: #7d9100;
}

/*
--- CATEGORIES ---
*/

.sec-categories {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

.categories-list h3 {
  margin: 0;
}

.categories-list {
  margin: 10px 20px;
  padding: 10px 25px;
}

.categories-list select {
  border: 1px solid #344;
  border-radius: 100px;
  font-family: Open Sans , sans-serif;
  font-size: 14px;
  outline: none;
  padding: 2px 10px;
  transition: all 0.25s ease;
}

.categories-list select:hover {
  border-color: #7d9100;
}

.loading-text {
  font-size: 14px;
}

.categories-btn {
  background-color: #354242;
  border: none;
  border-radius: 50px;
  color: #ffd;
  margin: 1px 2px;
  padding: 5px 15px;
  transition: all 0.25s ease;
}

.categories-btn:hover {
  background-color: #acebae;
  color: #344;
}

.categories-btn:focus {
  background-color: #7d9100;
  outline: none;
}

.buttons-div {
  display: flex;
  flex-flow: row wrap;
}

/*
--- SEARCHBAR
*/

.search-bar {
  color: #344;
  display: flex;
  outline: none;
  padding: 3px 10px;
  transition: all 0.25s ease;
  width: 300px;
}

.search-bar:focus {
  border: 1px solid #c9de55;
}

.search-bar-button {
  background-color: #c9de55;
  border: none;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 32px;
  margin-left: 5px;
  outline: none;
  transition: all 0.25s ease;
  width: 32px;
}

.search-bar-button:hover {
  background-color: #7d9100;
}

.search-bar:hover {
  border-color: #7d9100;
}

.search-bar-button:focus {
  color: #344;
}

.div-separator {
  margin: 10px;
}

/*
---PRODUCT LIST---
*/

.sec-products {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 10px;
  width: 800px;
}

.products-error {
  flex-flow: column wrap;
}

/*
---CARD---
*/

.product-card {
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(125, 145, 0, 0.2);
  display: flex;
  flex-flow: column wrap;
  margin: 10px;
  padding: 10px;
  text-align: center;
  transition: all 0.25s ease;
  width: 200px;
}

.product-card:hover {
  box-shadow: 0 2px 4px rgba(125, 145, 0, 0.4);
}

.product-card h3 {
  font-family: Quicksand , sans-serif;
  font-size: 14px;
}

/*
---SHOPPING-CART---
*/

.shopping-cart-frame {
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  margin: 60px auto;
  padding: 20px;
  width: 80%;
}

.shopping-cart-empty-icon {
  font-size: 34px;
}
