@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@700&display=swap') ;

body {
  background-color: #ffd;
  font-family: Open Sans , sans-serif;
}

.special-text {
  color: #344;
  font-family: Quicksand , sans-serif;
  font-size: 25px;
  line-height: 1.75em;
}

.main-container {
  background-color: white;
  border: 1px solid #344;
  border-radius: 25px;
  display: flex;
  flex-flow: row wrap;
  font-size: 18px;
  padding: 10px 25px;
}

/*
--- SHOPPING CART
*/

.shopping-cart-icon {
  background-color: #c9de55;
  border-radius: 100px;
  transition: all 0.25s ease;
}

.shopping-cart-icon:hover {
  background-color: #7d9100;
}

/*
--- CATEGORIES ---
*/

.sec-categories {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

.categories-list h3 {
  margin: 0;
}

.categories-list {
  margin: 10px 20px;
  padding: 10px 25px;
}

.categories-list ul {
  list-style: none;
}

.categories-list ul li {
  line-height: 1.75em;
}

/*
--- SEARCHBAR
*/

.search-bar {
  display: flex;
  flex-wrap: nowrap;
}

.search-bar-input {
  color: #344;
  flex-flow: row nowrap;
  outline: none;
  padding: 3px 10px;
  transition: all 0.25s ease;
  width: 300px;
}

.search-bar:focus {
  border: 1px solid #c9de55;
}

.search-bar-button {
  background-color: #c9de55;
  border: none;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 32px;
  margin-left: 5px;
  outline: none;
  transition: all 0.25s ease;
  width: 32px;
}

.search-bar-button:hover {
  background-color: #7d9100;
}

.search-bar:hover {
  border-color: #7d9100;
}

.search-bar-button:focus {
  color: #344;
}

.div-separator {
  margin: 10px;
}

/*
---PRODUCT LIST---
*/

.sec-products {
  margin-top: 10px;
  width: 800px;
}

/*
----PRODUCT CARD---
*/

.product-card {
  align-items: center;
  background-color: white;
  border: 1px solid #344;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin: 10px;
  width: 47%;
}

.product-card-title-img {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.product-card-image {
  display: flex;
  width: 40%;
}

.product-card-title {
  display: flex;
  font-size: 0.9em;
  margin-top: 0;
  padding: 5px 10px;
  text-align: center;
}

.product-card a {
  color: #334;
  text-decoration: none;
}

.product-card-price {
  display: block;
  margin: 10px;
  text-align: center;
}

/*
----PRODUCT DETAILS---
*/

.product-detail {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px 20px;
  width: 80%;
}
